@font-face {
    font-family: 'Dancing Script';
    src: url('./Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* navbar */
.navbar {
    padding: 20px 90px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand,
.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.navbar-brand {
    text-transform: capitalize;
    font-size: 32px;
}

.nav-item:hover a,
.navbar-brand:hover {
    color: #ffbe33;
}

.nav-item.active a,
.nav-link.active {
    color: #ffbe33 !important;
}

.fa-cart-shopping {
    color: white;
}

.ordernowBtnDiv {
    margin: 35px 0;
}

#ordernowBtn {
    border: none;
    background-color: #ffbe33;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
}

@media (max-width: 549px) {
    .nav-List {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
    }

    .navbar {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 30px;
    }
}

@media (max-width: 992px) {
    .navbarListDiv {
        width: 100%;
    }
}



/* end navbar */
/* banner */
.coverDiv {
    background-image: url("./assets/bannerImg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white;
}

.bannerContentDiv {
    padding: 65px 90px;

}

.headingDiv h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 66px;
}

.carousel-indicators button {
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
    color: white;
}

.carousel-indicators {
    bottom: -80px;
    justify-content: flex-start;
}

.carousel-indicators button.active {
    background-color: #ffbe33;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 45px;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: #222831;
    color: #ffffff;
}

.row {
    justify-content: space-around;
}

.cardImgDiv {
    width: 200px;
    height: 200px;
}

.cardImgDiv img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #ffbe33;
}

.salesDiv {
    padding: 0 30px;
}

.cardNameDiv h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin: 0;
}

.cardOFFDiv {
    margin: 10px 0;
}

.cardOFFDiv h6 {
    font-family: 'Dancing Script', cursive;
}

.cardOFFDiv h6 span {
    font-size: 36px;
}



@media (max-width: 597px) {
    .carousel-indicators {
        bottom: 0;
    }
}