body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/signupBackgroundImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerDiv {
  border-radius: 10px;
  padding: 40px 20px;
  width: 400px;
  color: white;
  border: 1px solid white;
  position: relative;
}

.containerBlurDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000003b;
  z-index: -1;
  top: 0;
  left: 0;
}

#sbtn {
  width: 100%;
  background-color: #e69d006b;
  border: 0;
  border-radius: 10px;
  padding: 10px 0;
  transition: all .5s;
}

#sbtn .spinner-border {
  width: 20px;
  height: 20px;
}

#sbtn:hover,
#googleSignInBtn:hover {
  background-color: #e69c00;

}

#sbtn:focus-visible {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: 0 0 20px 0px #e69c00;
}

.form-label span {
  color: red;
}

#errorPara {
  color: red;
}

#alreadyAccountPara {
  text-align: center;
}

#alreadyAccountPara a {
  color: white;
  transition: all .3s;
}

#alreadyAccountPara a:hover {
  color: #e69c00;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: white;
  text-align: center;
  height: 1.5em;
  opacity: 1;

  &:before {
    content: "";
    background: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
  }
}

#googleSignInBtn {
  background-color: #e69d006b;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 8px 0;
  border-radius: 10px;
  transition: all .5s;
  color: white;
}

#googleSignInBtn img {
  width: 35px;
}

@media (max-width: 260px) {
  #googleSignInBtn {
      flex-direction: column;
  }
}

@media (max-width: 430px) {
  body {
    padding: 20px;
  }
}