@font-face {
    font-family: 'Dancing Script';
    src: url('../../Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    position: relative;
}

.coverDiv {
    background-image: url("../../assets/adminBackgroundImg.avif");
    background-size: cover;
    width: 100vw;
    color: white;
    position: relative;
}

.coverBackgroundBlurDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2228319e;
}

/* navbar */
.navbar {
    padding: 20px 90px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand,
.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.navbar-brand {
    text-transform: capitalize;
    font-size: 32px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item:hover a,
.navbar-brand:hover {
    color: #ffbe33;
}

.nav-item.active a,
.nav-link.active {
    color: #ffbe33 !important;
}

.fa-cart-shopping {
    color: white;
}

.cardBtnDiv {
    margin: 35px 0;
}

#editItemBtn,
#aboutDivButton,
#delBtn,
#LogOutBtn {
    border: none;
    background-color: #e69d006b;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all .5s;
}

.nav-item button {
    border: none;
    background: transparent;
}

#userBtn {
    border: 1px solid #e69d006b;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
}


#userBtn:hover,
#editItemBtn:hover,
#aboutDivButton:hover,
#delBtn:hover,
#LogOutBtn:hover {
    background-color: #e69c00;
}



/* end navbar */
/* bannerHeadDiv */
.bannerHeadDiv {
    padding: 20px 90px;
    z-index: 1000;
    position: relative;
}

.bannerHeadDiv h1 {
    color: white;
    font-family: 'Dancing Script', cursive;
}

/* inputDiv */

.addItemFormDiv {
    max-width: 500px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 20px 0px #e69c00;
    border-color: transparent;
}

.form-label span {
    color: red;
}

.inputDiv {
    margin: 10px 0;
}

.inputDiv p {
    margin: 10px 0;
    font-size: 14px;
}

/* inputDiv */

/* itemImgDiv */
.imgInputDiv,
.editImgInputDiv {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all .3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgInputDiv:hover {
    background-color: rgba(0, 0, 0, 0.339);
}

.imgInputDiv:hover .fa-camera {
    display: block;
}

.editImgInputDiv:hover .fa-camera {
    display: block;
    z-index: 1;
}

#imgInput,
#editImgInput {
    display: none;
}

#imgOutput,
#EditimgOutput {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 0;
    position: relative;
}

.fa-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: larger;
    transition: all .5s;
}

.imgInputDiv .spinner-border,
.editImgInputDiv .updImgSpinner {
    position: absolute;
    display: none;
    color: black;
}

.imgBlurDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.339);
    border-radius: 50%;
    z-index: 1;
    display: none;
    transition: all .5s;
}

.editImgInputDiv:hover .imgBlurDiv {
    display: block;
}

/* itemImgDiv */

/* itemPriceDiv */
.itemPriceDiv .form-control,
.previousPriceDiv .form-control {
    width: 100px;
    display: inline-flex;
    margin: 0 10px;
}

.itemPriceDivOutput {
    display: flex;
    gap: 10px;
}

/* itemPriceDiv */

/* addItemBtnDiv */
#addItemBtn .spinner-border {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
}

.addItemBtnDiv {
    margin: 20px 0;
}

#addItemBtn {
    border: none;
    background-color: #e69d006b;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    transition: all .5s;
}

#addItemBtn:hover {
    background-color: #e69c00;
}

/* addItemBtnDiv */

/* banner */


.cardDiv .card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 45px;
    border-radius: 5px;
    padding: 20px 15px;
    background-color: #222831;
    color: #ffffff;
    position: relative;
}

.row {
    justify-content: space-around;
}

.cardContentDiv div {
    margin: 10px 0;
}

.cardImgDiv {
    width: 200px;
    height: 200px;
}

.cardImgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #ffbe33;
}

.itemTypeDiv h6 {
    margin: 0;
}

.itemTypeDiv {
    position: absolute;
    top: 10px;
    left: 25px;
    background-color: #e69d006b;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all .5s;
    display: flex;
    gap: 10px;
}

.itemTypeDiv p {
    margin: 0;
    display: flex;
    align-items: center;
}

.itemTypeDiv p i {
    font-size: 10px !important;
    color: white;
}

.itemTypeDiv:hover {
    background-color: #e69c00;
}

.itemsDiv {
    padding: 0 30px;
    padding-bottom: 90px;
}

.yourItems {
    text-align: center;
    margin: 80px 0;
}

.yourItems h2 {
    text-transform: capitalize;
}

.cardNameDiv h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin: 0;
}

/* aboutDiv */
.aboutDiv {
    background-color: #14171c;
    color: white;
    margin-top: 25px;
}

.aboutDiv .row {
    padding: 20px 40px;
}

.aboutDivImg {
    display: flex;
    justify-content: center;
}

.aboutDivImg img {
    width: 30vw;
}

.aboutDivContent {
    display: flex;
    flex-direction: column;
}

.aboutDivCol2 {
    display: flex;
    align-items: center;
}

.aboutDivHeading h2 {
    font-size: 46px;
    font-family: 'Dancing Script', cursive;

}

/* footer */
.footerDiv {
    border-top: .5px solid white;
    background-color: #14171c;
    padding: 60px 20px;
    color: white;
    padding-bottom: 10px;
}

.footerListDiv {
    padding-top: 20px;
}

.footerListDiv .row .column {
    text-align: center;
}


.footerListHeadDiv h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
}

#iconsPara {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#iconsPara p {
    border-radius: 50%;
    padding: 8px;
    background-color: white;
    color: black;
    transition: all .3s;
}

#iconsPara p i {
    font-size: 20px;
}

#iconsPara p:hover,
.rightReservedDiv a:hover {
    color: #ffbe33;
}

.rightReservedDiv {
    margin-top: 20px;
}

.rightReservedDiv p {
    text-align: center;
}

.rightReservedDiv a {
    color: white;
    text-decoration: underline;
    transition: all .3s;
}

@media (max-width: 200px) {
    .navbar>.container-fluid {
        justify-content: center;
    }
}

@media (max-width: 220px) {

    .itemPriceDiv .form-control,
    .previousPriceDiv .form-control {
        width: 100px;
        display: block;
        margin: 10px 0;
    }

    .imgInputDiv,
    .cardImgDiv,
    .editImgInputDiv {
        width: 100px !important;
        height: 100px !important;
    }
}

@media (max-width: 280px) {
    .cardImgDiv {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 300px) {
    .cardDiv {
        padding: 0 10px;
    }
}

@media (max-width: 500px) {
    .cardDiv .card {
        padding: 20px 15px;
        padding-top: 63px;
    }

    .cardDiv {
        padding: 0 20px;
    }

}

@media (max-width: 549px) {
    .nav-List {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
    }

    .navbar {
        display: block;
    }
}

@media (max-width: 640px) {
    .itemsDiv {
        padding: 0 20px;
    }

    .navbar {
        display: block;
        padding: 20px 20px;
    }

    .bannerHeadDiv {
        padding: 20px 30px;
    }
}



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 30px;
    }

}

@media (max-width: 992px) {
    .navbarListDiv {
        width: 100%;
    }

    .cardDiv .card {
        flex-direction: column;
    }
}

@media (max-width: 330px) {
    .carousel-indicators {
        bottom: -30px;
        left: 20px;
    }
}