@font-face {
    font-family: 'Dancing Script';
    src: url('../../Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    position: relative;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 28.54%, rgba(0, 0, 0, 0) 55.07%), url("../../assets/restaurantDetailsBackgroundImg.webp");
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
}

/* navbar */
.navbar {
    padding: 20px 90px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand,
.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.navbar-brand {
    text-transform: capitalize;
    font-size: 32px;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item:hover a,
.navbar-brand:hover {
    color: #ffbe33;
}

.nav-item.active a,
.nav-link.active {
    color: #ffbe33 !important;
}

.fa-cart-shopping {
    color: white;
}

.ordernowBtnDiv {
    margin: 35px 0;
}

#ordernowBtn,
#aboutDivButton {
    border: none;
    background-color: #e69d006b;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    transition: all .5s;
}

.nav-item button {
    border: none;
    background: transparent;
}

#userBtn {
    border: 1px solid #e69d006b;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
}


#userBtn:hover,
#ordernowBtn:hover,
#aboutDivButton:hover {
    background-color: #e69c00;
}



/* end navbar */
/* restDetFormDiv */

.restDetFormDiv {
    padding: 20px 90px;
}

.formDiv {
    width: 500px;
}

.formDiv .select-businessType {
    width: 100%;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 20px 0px #e69c00;
    border-color: transparent;
}

.form-label span {
    color: red;
}

.inputDiv {
    margin: 10px 0;
}


.uploadBtnDiv {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all .3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadBtnDiv:hover {
    background-color: rgba(0, 0, 0, 0.339);
}

.uploadBtnDiv:hover .fa-camera {
    display: block;
}

#picInput {
    display: none;
}

#picOutput {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -100;
    position: relative;
}

.fa-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: larger;
    transition: all .3s;
}

.spinner-border {
    position: absolute;
    display: none;
}

#saveBtn .spinner-border {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
}

.saveBtnDiv {
    margin: 20px 0;
}

#saveBtn {
    border: none;
    background-color: #e69d006b;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    transition: all .5s;
}

#saveBtn:hover {
    background-color: #e69c00;
}


@media (max-width: 320px) {
    .navbar {
        padding: 20px 20px !important;
    }

    .restDetFormDiv {
        padding: 20px 20px !important;
    }
}


@media (max-width: 549px) {
    .nav-List {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
    }

    .navbar {
        display: block;
        padding: 20px 50px;
    }

    .restDetFormDiv {
        padding: 20px 50px;
    }
}

@media (max-width: 650px) {
    .bannerContentDiv {
        padding-bottom: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 30px;
    }
}

@media (max-width: 992px) {
    .navbarListDiv {
        width: 100%;
    }
}